.header-func{
    padding-top: 24px;
    padding-right: 0;
}
.header-func span{
    color: red;
    font-weight: bolder;
    opacity: 0.8;
}
.header-func .row{
    text-align: center;
}
.table-choise-person{
    text-align: center;
}
.table-choise-person tbody tr td{
    padding: 8px 8px;
}
.label-passeger{
    margin-left: 12px;
}
.area-order{
    /* padding-left: 40px;
    padding-right: 0; */
}
.show_info_tour{
    font-size: 20px;
    font-weight: 150;
    line-height: 1.5;
}
.order-image{
    text-align: center;
}
/* body{
    background-color: #F9F9F9;
} */
